

<div class="habilidades">
    <h1>Habilidades</h1>
    <div class="progress" *ngFor="let skill of skills" [ngClass]="skill.class_color.color" role="progressbar" aria-label="Animated striped example" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated active" [ngClass]="skill.class_color.class_progress" [style.width]="skill.porcentaje + '%'"><h5>{{skill.nombre+'('+skill.porcentaje+'%)'}}</h5></div>
      </div>
</div>

